.navbar {
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
    justify-content: space-around;
}

.navbar li {
    color: white;
    display: inline-block;
    text-align: center;
}